body {
    background-color: hsl(0, 0%, 100%);
    background-image: url("boller2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
            
    display:grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto;         
        }

.Main {
    min-width: 720px;
    max-width: 2560px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Header-bg {
    background-color: hsl(0, 21%, 23%);
    min-width: 720px;
    padding-right: 40px ;
    margin: 2% 1%;
    flex-direction: column;
}

.header-logo-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}       

#Overskrift2 {
    color: hsl(0, 0%, 0%);
    font-style: italic;
    font-weight: 50;
    font-size: 40px;    
    text-align: center;        
}  
        
.Listetekst {
    color: hsl(0, 0%, 0%);
    font-style: italic;
    font-weight: 80;
    font-size: 30px;     
    margin: 5% 30%;       
}   
        
.Listetekst2 {
    text-align: center;
    color: hsl(0, 0%, 0%);
    font-weight: 20;
    font-size: 25px;           
}   
        
.Listetekst3 {
    text-align: center;
    color: hsl(0, 0%, 0%);
    font-weight: 10;
    font-size: 15px;           
}            

#topText {
    text-align: center;
    color: hsl(0, 0%, 0%);
    font-family: Georgia, 'Times New Roman', Times, serif;   
    font-weight: 10;
    font-size: 30px;    
}  
        
#TitleText {
    text-align: center;
    color: hsl(0, 0%, 0%);
    font-family: Georgia, 'Times New Roman', Times, serif;   
    font-weight: 10;
    font-size: 30px;    
}         

.bolle-img {
    min-width: 300px;
    max-width: 400px;
    height:auto;
    border: 2px solid black;
    margin: 1% 1%;
}

.primarycontent {
    background-color: hsl(59, 23%, 63%);
    min-width: 720px;
    max-width: 2560px;
    padding: 20px;
    margin: 1% 1%;
}     
        
.primarycontent2 {
    background-color: hsl(59, 23%, 63%);
    min-width: 720px;
    max-width: 2560px;  
    padding: 20px;  
    padding-top: 60px; 
    margin: 0.1% 10%;;
    text-align: center; 
}      

#Buybutton {
    background-color: rgb(227, 228, 197);
    padding: 3px;
    border: 2px solid;
    border-radius: 15%;
}